body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: rgb(63, 63, 173);
  color: white;

}

img {
  width: 100px;
}
.section-two {
  display: flex;

}

.section-three {
  background-color: rgb(208, 223, 235);
}

.mini {
  background-color: rgb(30, 191, 193);
}

.footer {
  background-color: rgb(103, 78, 154);
}