.header {
  background-color: rgb(63, 63, 173);

}

.section-two {

}

.section-three {
  background-color: rgb(208, 223, 235);
}

.mini {
  background-color: rgb(30, 191, 193);
}

.footer {
  background-color: rgb(103, 78, 154);
}