body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0px;
}

.header {
  background-color: #1F2937;
  

}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.title, .first-para {
  color: white;
}

ul {
  list-style-type: none;
  
}
img {
  width: 100px;
  border-radius: 25px;
}

.headerpic {
  width: 400px;
}
.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.square {
  max-width: 200px;
}

.section-three {
  background-color: rgb(208, 223, 235);
}

.section-four {
  display:flex;
  justify-content: center;
}
.mini {
  background-color: rgb(30, 191, 193);
}

.title-three {
  
}
.footer {
  background-color: #1f2937;
  color: white;
  display:flex;
  justify-content: center;
}